.kdmodal .item {
  position: relative;
  cursor: pointer;
  padding: 8px 10px 8px 25px;
  border-bottom: solid 1px #ededed;
}
.kdmodal .item:last-child {
  border: none;
}
.kdmodal .item:hover {
  color: #138345;
}
.kdmodal .item:hover:active {
  color: #106c3a;
}
.kdmodal .item .bubble {
  position: absolute;
  top: calc(50% - 2px);
  left: 8px;
  width: 8px;
  height: 8px;
  background: #1AAF5D;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all, 0.2s, ease;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
.GitDashboard {
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align:center;
}
.vm-selector {
  position: absolute;
  top: 50px;
  left: calc(50% + 320px);
  width: initial;
  height: initial;
  overflow: visible;
}
.GitDashboard .vm-selector .header {
  color: #808080;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border: solid 2px rgba(0, 0, 0, 0.1);
  background: #fafafa;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.GitDashboard .vm-selector .selection {
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all, 0.2s, ease;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
.GitDashboard .vm-selector .selection .item {
  position: relative;
  cursor: pointer;
  padding: 8px 10px 8px 25px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all, 0.2s, ease;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
.GitDashboard .vm-selector .selection .item:nth-child(odd) {
  background: #FCFCFC;
}
.GitDashboard .vm-selector .selection .item:last-child {
  border: none;
}
.GitDashboard .vm-selector .selection .item:hover {
  background: rgba(87, 161, 230, 0.1);
}
.GitDashboard .vm-selector .selection .item:hover:active {
  background: rgba(87, 161, 230, 0.15);
}
.GitDashboard .vm-selector .selection .item.running .bubble {
  background: #1AAF5D;
}
.GitDashboard .vm-selector .selection .item.stopped .bubble {
  background: #cccccc;
}
.GitDashboard .vm-selector .selection .item.active {
  background: #2C97DD;
  color: #fff;
}
.GitDashboard .vm-selector .selection .item.active .bubble {
  background: rgba(255, 255, 255, 0.6);
}
.GitDashboard .vm-selector .selection .item .bubble {
  position: absolute;
  top: calc(50% - 3px);
  left: 8px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all, 0.2s, ease;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
.GitDashboard .tab-view {
    width: 100%;
    height: auto;
    overflow:auto;
    text-align: center;
}
.GitDashboard .tab-view .handle-container{
    text-align: center;
}
.GitDashboard .tab-view .handle {
    
}
.GitDashboard .login-button {
    width: 100%;
    height:60px;
    background-color:#eee;
    border-bottom: 1px solid #ccc;
    text-align:center;
    font-size: 30px;
    color: #444;
}
.GitDashboard .container{
  width: 600px;
  margin: 50px auto 20px auto;
  overflow: visible;
}

.GitDashboard .welcome-view {
  background: #eee;

  height: auto;
  width: auto;
  max-width: 300px;

  padding:10px;
  margin: 50px auto;

  border: 1px solid #ccc;
  border-radius: 4px;

  text-align:center;
}
.GitDashboard .boxedlist-container{
    text-align: center;
    height:auto;
    padding:10px 0;
    width:600px;
}
.GitDashboard .boxedlist-container .box-header{
    width:100%;
    background-color:#eee;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.GitDashboard .boxedlist-container .seemore-button{
    width:100%;
    background:#eee;
    border: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size:20px;
    color: #444;
}
.GitDashboard .boxedlist-container .list{
    height:auto;
    overflow:auto;
    width:100%;
    border-left: solid #ccc;
    border-width: 0px 1px;
}
.GitDashboard .repoview-container{
    width:100%;
    background:#fff;
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-size:20px;
    color: #444;
}
.GitDashboard .repoview-container .gravatar{
    padding:5px;
    border-radius: 4px;
}
.GitDashboard .repoview-container .name{
    position:absolute;
    top:0;
    margin-top:8px;
}
.GitDashboard .repoview-container .languageLabel{
    position:absolute;
    top:0;
    right:0;
    margin-right:80px;
    margin-top:3px;
    font-size:12px;
}
.GitDashboard .repoview-container .starsLabel{
    position:absolute;
    top:0;
    right:0;
    font-size:12px;
    margin-right:200px;
    margin-top:3px;
}
.GitDashboard .repoview-container .description{
    font-size:16px;
    padding: 5px;
}
.GitDashboard .clone-button{
    position:absolute;
    top:0;
    right:0;
    margin:3px;
    width:70px;
    height:30px;
}
